* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 150px;
    height: 150px;
    background-color: violet;


    /* nomi */
    animation-name: just;
    /* davomiyligi */
    animation-duration: 3s;
    /* kutish vaqti */
    /* animation-delay: 2s; */
    /* takrorlanish xolati */
    animation-iteration-count: 1;
    /* holati yoki qandayligi */
    animation-timing-function: linear;
    /* "forwards" --> oxirgi qiymatlarini saqlab qolishi */
    animation-fill-mode: forwards;
    /* yo'nalish */
    animation-direction: reverse;
}
/* "Mega Animation" */
@keyframes just {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(400px);
        background-color: red;
         
    }
    50% {
        transform: translateX(400px ) translateY(400px);
        background-color: blue;
        
    }
    75% {
        transform: translateX(0px) translateY(400px);
        background-color: gold; 
    }
    100% {
        transform: translateX(0px) translateY(0);
        background-color: violet;
    }
}







/* "mini animation" */

/* @keyframes just {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateY(200px);
    }
    
} */